<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">


    <script src="https://kit.fontawesome.com/b1c5ccd7ac.js" crossorigin="anonymous"></script>

    <title>Playlist Bibimbap</title>

    <style>

        * {
            font-family: 'Pretendard';
        }

        .clearfix {
            *zoom: 1;
        }


        .clearfix:after {
            clear: both;
        }

        .cover {
            color: goldenrod;
            width: 100%;
            height: 500px;

            background-color: #fcc221;
            background-size: cover;
            background-position: center;

            color: black;


            display: flex;
            flex-direction: column;
            position: relative;


        }

        .landing {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }


        .cover_bibimbap {
            margin: 10px;
            text-align: left;
        }

        .cover_title {
            margin-top: 25px;
            text-align: center;

        }

        .container {
            width: 100%;
            height: 100%;
            margin: auto;
            display: inline-block;
            grid-template-columns: 10% 80% 10%;
            overflow: hidden;

        }

        .box {
            box-sizing: content-box;
            align-self: center;
            width: 90%;
            height: 250px;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;

        }

        .start-50 {
            top: 50%;
            transform: translateY(-50%);
        }

        .translate-middle {
            left: 50%;
            transform: translateX(-50%);
        }

        /*spotify 상위 10개 노래 목록*/

        #carouselExampleIndicators {
            width: 100%;
            display: inline-block;
        }


        .carousel slide {
            height: 100%;
            width: 100%;

        }

        .carousel-inner {
            flex: 1;
            width: 100%;
            height: 100%;
            position: relative;
            top: -120px;
            text-align: left;
        }

        .carousel-item > button {
            width: 100%;
            height: auto;
            position: center;
            border-radius: 50px;
            border: 1px solid white;
        }

        .carousel-control-prev {
            position: absolute;
            top: -100%;
            margin-left: -100px
        }

        .carousel-control-next {
            position: absolute;
            top: -100%;
            margin-right: -100px

        }

        h5 {
            font-size: 1em;
        }

        @media only screen and (min-width: 800px) {
            h5 {
                font-size: 1.2em;
            }
        }

    </style>

    <script>
        function show_results() {
            document.getElementById('description').style.display = 'none';
            document.getElementById('carouselExampleIndicators').style.display = 'block';
        }
    </script>

    <script>
        var audio = document.getElementById("play");
        var playing = false;

        function preview_play(audio) {
            if (playing) {
                audio.pause();
            } else {
                audio.play();
            }
            playing = !playing;
        }

    </script>


    <!--<script>
        $(document).ready(function () {
            spotify_search();
        });


        function spotify_search() {
            let track_input = $('#track').val()

            $.ajax({
                type: "POST",
                url: "/search_results",
                data: {track_input: track},
                success: function (response) {
                }
            });
            const landing = document.querySelector('.landing');
            landing.style.display = 'none';
            carouselExampleIndicators.style.display = 'flex';
        }

            function getTracks() {
        $.ajax({
            type: "GET",
            url: "/search_results",
            data: {},
            success: function (response) {
                let tracks = response.track;
                let tracksList = $("#tracks-list");
                tracksList.empty();
                tracks.forEach(function (track) {
                    tracksList.append(`
                       <div class="col-sd-4">
                                <div class="card" style="height: 85%">
                                    <a href="${track.image}" target="_blank"><img src="${track.image}" alt="Track Image">
                                         class="card-img-top"
                                         </a>
                                    <div class="card-body">
                                        <h5 class="card-title">${track.track}</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light" style>🥄</button>
                                        </div>
                                        <p class="card-text">${track.artists}</p>
                                        <button onclick="preview_play(this.nextElementSibling)">
                                <i class="fa-brands fa-spotify"></i>
                                </button>
                                <audio id="play">
                                    <source src=${track.url} type="audio/mpeg">
                                </audio>
                                    </div>
                                </div>
                            </div>
                    `);
                });
            }
        });
    }

        function add_to_playlists() {
            let track = $('#track_selected').val()
            let date = $('#date_selected').val()
            let hour = $('#hour_selected').val()
            $.ajax({
                type: 'POST',
                url: '/playlist',
                data: {track_selected: track, date_selected: date, hour_selected: hour},
                success: function (response) {
                    alert(response['비빔밥'])


                }
            });
        }


    </script>-->

</head>
<body>

<div class="cover">

    <div class="cover_bibimbap">
        <b>Playlist Bibimbap</b>
    </div>
    <div class="cover_title">
        <h1><b>지금 듣고 있는 노래<br>모아모아 함께 들어요!</b></h1>

    </div>

    <div class="input-group mb-3" style="width: 60%; align-self: center; margin-top: 20px;">
        <input id="track_input" type="text" class="form-control" placeholder="지금 듣고 있는 노래를 검색해 노래를 모아보세요!"
               aria-label="지금 듣고 있는 노래를 검색해 노래를 모아보세요!"
               aria-describedby="노래 제목을 검색한 뒤 검색 버튼을 눌러주세요">

        <button class="btn btn-dark" onclick="show_results()" type="submit" id="search_button">
            <i class="fa-solid fa-magnifying-glass" style="color:white;"></i>
        </button>

    </div>

    <div class="box clearfix">

        <div id="landingContainer" class="landing">
            <img id="description" src="/description.png"
                 alt="검색 창에 노래를 검색 해 노래를 담아주세요!"
                 style="display: block; margin:0 0 10px 0; height: auto; overflow: hidden; max-width: 100%; ">
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" style="display: none;">
            <div class="position-absolute start-50 translate-middle">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-5 g-1">
                            <div class="col-sd-4">
                                <div class="card" style="height: 85%">
                                    <img src="https://www.sisain.co.kr/news/photo/202209/48519_88034_2517.jpg"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_1</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_1</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sd-4">
                                <div class="card" style="height: 85%">
                                    <img src="https://www.sisain.co.kr/news/photo/202209/48519_88034_2517.jpg"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_2</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sd-4">
                                <div class="card" style="height: 85%">
                                    <img src="https://www.sisain.co.kr/news/photo/202209/48519_88034_2517.jpg"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_3</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sd-4">
                                <div class="card" style="height: 85%">
                                    <img src="https://www.sisain.co.kr/news/photo/202209/48519_88034_2517.jpg"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_4</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_4</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sd-4">
                                <div class="card" style="height: 85%">
                                    <img src="https://www.sisain.co.kr/news/photo/202209/48519_88034_2517.jpg"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_5</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-5 g-1">
                            <div class="col-sd-4">
                                <div class="card h-100">
                                    <img src="https://cdnimg.melon.co.kr/cm/album/images/102/60/858/10260858_500.jpg?02df39ed806cd5e224ae1be4ab9417dd"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_6</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_6</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sd-4">
                                <div class="card h-100">
                                    <img src="https://cdnimg.melon.co.kr/cm/album/images/102/60/858/10260858_500.jpg?02df39ed806cd5e224ae1be4ab9417dd"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_7</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_7</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sd-4">
                                <div class="card h-100">
                                    <img src="https://cdnimg.melon.co.kr/cm/album/images/102/60/858/10260858_500.jpg?02df39ed806cd5e224ae1be4ab9417dd"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_8</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_8</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sd-4">
                                <div class="card h-100">
                                    <img src="https://cdnimg.melon.co.kr/cm/album/images/102/60/858/10260858_500.jpg?02df39ed806cd5e224ae1be4ab9417dd"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_9</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_9</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sd-4">
                                <div class="card h-100">
                                    <img src="https://cdnimg.melon.co.kr/cm/album/images/102/60/858/10260858_500.jpg?02df39ed806cd5e224ae1be4ab9417dd"
                                         class="card-img-top"
                                         alt="이미지를 준비 중입니다">
                                    <div class="card-body">
                                        <h5 class="card-title">track_results_10</h5>
                                        <div class="position-absolute bottom-0 end-0">
                                            <button type="button" class="btn btn-light">🥄</button>
                                        </div>
                                        <p class="card-text">artist_results_10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>

</div>

</body>
</html>
